<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <template v-if="logged">
    <p>Usuário Logado: {{ name }}</p>
    <p>Perfil: Admin</p>
  </template>
  <p v-else-if="anonymous">Navegando como Anônimo</p>
  <p v-else>Nenhum usuário logado</p>
  <button @click="logged = !logged">{{ logged ? 'Sair' : 'Entrar' }}</button>
  <br>
  <input type="checkbox" v-model="anonymous"> Anônimo
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      name: 'Maria',
      logged: false,
      anonymous: false,
    }
  })
</script>

<style>
  p {
    margin: 0;
  }
  button {
    margin: 10px 0;
  }
</style>